 #global {
     display: flex;
     justify-content: center;
     align-content: center;
     background-color: rgba(0, 0, 0, 0.94);
 }

 

 #frontlook {
     background-size: cover;
     background-image: url(https://c8.alamy.com/comp/J30196/clock-background-isolated-vector-illustration-J30196.jpg);
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 40pc;
     width: 50%;
     border-radius: 20%;
     border: 5px solid   white;
 }

 #clock {
     color: white;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-color: rgba(9, 7, 7, 0.899);
     display: flex;
     justify-self: center;
     justify-content: space-evenly;
     align-self: center;
     align-items: center;
     font-size: 300%;
     height: 10%;
     width: 40%;
     border-radius: 25px;
     border: 5px solid  white;
 }

 #showdate_math_year {
     display: flex;
     justify-content: space-around;
 }

 #day {
     color: white;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-color: rgba(9, 7, 7, 0.98);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     height: 80%;
     width: 17%;
     border-radius: 30px;
     border: 5px solid  white;
 }


 #month {
     color: white;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-color: rgb(9, 7, 7);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     height: 80%;
     width: 17%;
     border-radius: 30px;
     border: 5px solid   white;
 }


 #year {
     color: white;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     background-color: rgb(9, 7, 7);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     height: 80%;
     width: 17%;
     border-radius: 30px;
     border: 5px solid  white;
 }